body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body,
#map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ol-layerswitcher {
    margin: 0 -1.5em;
    padding: 1em;
    background: #eee;
}

.ol-layerswitcher .layerswitcher-opacity {
    width: 100%!important;
    margin: 7px 0 2em!important;
}

.li-content {
    width: calc(100% - 3em);
}

.button {
    background-color: #3090C7;
    /* Green */
    border: none;
    width: 2in;
    height: 0.5in;
    margin-top: 10px;
    color: #ffff;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.center_icon {
    margin: auto;
    padding: 10px;
}

body {
    background: #363636;
}

label {
    margin-bottom: 10px;
    margin-top: 100px;
    color: rgb(9, 10, 12);
    font-size: 15px;
}

.input_range_iso {
    margin: 10px !important;
}

#searchInput0 {
    height: 0.4in;
    border: 1px solid rgb(31, 25, 25);
    border-radius: 7px;
}

#searchInput1 {
    height: 0.4in;
    border: 1px solid rgb(31, 25, 25);
    border-radius: 7px;
}

.event__search__floater {
    position: fixed;
    top: 50px;
    margin-right: 40px;
    z-index: 99;
    /*   left:0; */
    right: 50px;
    transition: all ease-in-out 0.2s;
    transform: translate(-50%, -50%);
}

.search__anchor {
    position: relative;
    width: auto;
    height: auto;
    /*   TODO: Center anchor */
}

.search__submit {
    opacity: 0;
    width: 0px;
}

.search__bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
    border: none;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0;
    z-index: 5;
    transition: all 0.2;
    font-size: 1em;
}

.search__bar:hover {
    cursor: pointer;
}

.search__bar:focus {
    width: 200px;
    left: auto;
    opacity: 1;
    cursor: text;
    transition: all 0.2;
    padding-left: 25px;
    padding-right: 70px;
}

.search__toggler {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #0062ff;
    opacity: 1;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    transition: all 0.2s;
}

.search__toggler:hover {
    cursor: pointer;
}

.search__toggler::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.2s;
}

.search__toggler::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.2s;
}

.search__bar:focus~.search__toggler {
    right: 400px;
    background: #151515;
    z-index: 6;
    transition: all 0.2;
}

.search__bar:focus~.search__toggler::before {
    top: 0;
    left: 0;
    width: 25px;
}

.search__bar:focus~.search__toggler::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}


/* popup */

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}