body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #363636;
}

html,
body,
#map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ol-layerswitcher {
    margin: 0 -1.5em;
    padding: 1em;
    background: #eee;
}

.ol-layerswitcher .layerswitcher-opacity {
    width: 100%!important;
    margin: 7px 0 2em!important;
}

.li-content {
    width: calc(100% - 3em);
}

.button {
    background-color: #3090C7;
    /* Green */
    border: none;
    width: 2in;
    height: 0.5in;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffff;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


/* Center icons on sidebar */

.center_icon {
    margin: auto;
    padding: 10px;
}